$color_1: black;
$color_2: #538E6E;

.picture {
	background: linear-gradient( rgba(255,255,255,0.5), rgba(255,255,255,0.5) ), url("/images/officepic3.png");
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: grid;
	align-content: center;
}
.welcome-text {
	color: $color_1;
	font-weight: bold;
}
.empower-text {
	color: $color_2;
	font-weight: bold;
}
.text-center {
	text-align: center;
	justify-content: center;
}
.box {
	background: #538E6E;
	width: 380px;
	height: 52px;
	padding: 12px;
	border-width: 50px;
	border-radius: 20px;
	margin: 0 auto;
}
