$color_1: black;
$color_2: #538E6E;
$color_3: white;
$color_4: #4F4F4F;
$color_5: #FFFDF5;
$color_6: #1C1D23;

// body {
//     overflow: hidden;
// }
.full-height {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture {
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-width: 100%;
    display: grid;
    align-content: center;
}


.blackbold-text-welcome {
    color: $color_1;
    font-weight: 1000;
    font-size: 2.9em;

}

.blackbold-text {
    color: $color_1;
    font-weight: 1000;

}

.greenbold-text {
    color: $color_2;
    font-weight: 1000;
}

.greeting-size {
    font-size: 0.3em;
}

.whitebold-text {
    color: $color_3;
    font-weight: bold;
    text-shadow: 1px 2px 7px $color_6;
}

.white-text {
    color: $color_3;
    text-shadow: 1px 2px 7px $color_6;
}

.grey-text {
    color: $color_4;
}

.text-center {
    text-align: center;
    justify-content: center;
}

.box {
    background: #538E6E;
    max-width: 100%;
    height: 52px;
    padding: 14px 25px;
    border-width: 50px;
    border-radius: 20px;
    margin: 0 auto;
}

.container-closer {
    max-width: 55%;
    margin: 0 auto;
}

.container-closer-ip {
    width: 47%;
    margin: 0 auto;
}

.background-green {
    background-color: $color_2;
    height: 100vh;
}

.background-cream {
    background-color: $color_5;
    height: 100vh;
}

@media (max-width: 480px) {
    .front-18px {
        font-size: 18px;
    }
    .front-13px {
        font-size: 13px;
    }
    .front-30px {
        font-size:30px;
        margin-top: 30%;
    }
}


