:root{
    --green-primary-color: #538E6E;

}
.dropdown:hover .dropdown-menu {
    // animation-delay: 1000ms;
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}


.dropdown:hover .custom-link{
    border-radius: 20px 20px 0px 0px;
}

a .custom-link:hover{
    background-color: var(--green-primary-color);
    
}

.custom-dropdown:hover,.dropdown:hover .custom-dropdown{
    background-color: var(--green-primary-color);
}



