$green-primary-color: #538e6e;
$cream-primary-color: #fffdf5;
$white-color: #FFFFFF;
$background-table-color: #dde7da;

.bgpic {
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 100vh;
  display: grid;
}

.full-height-hempfabric-1 {
  height: 100dvh;
}

.full-height-hempfabric-2 {
  height: 80dvh;
}

.bg-color-hempfabric {
  background-color: $cream-primary-color;
}

.title-text-natural {
  font-size: calc(16px + 0.5vw);
  margin: 1vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $white-color;
}

.box-naturalhemp {
  background: $green-primary-color;
  max-width: 100%;
  border-radius: 20px;
}

.greencolor {
  color: var(--green-primary-color);
}

.text-center {
  text-align: center;
  justify-content: center;
}

// .full-height {
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .section {
//     margin-top: 50px;
//     height: 100vh;
//     scroll-snap-type: y mandatory;
//     overflow-y: scroll;
//     overflow: hidden;
// }

// body {
//     overflow: hidden;
// }
table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 1px solid black;
  background-color: $background-table-color;
  width: 80%;
  margin: auto;
}

th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid black;
}

/* Apply a border to the bottom of all but the last row */
thead > tr:not(:last-child) > th,
thead > tr:not(:last-child) > td,
tbody > tr:not(:last-child) > th,
tbody > tr:not(:last-child) > td,
tfoot > tr:not(:last-child) > th,
tfoot > tr:not(:last-child) > td,
tr:not(:last-child) > td,
tr:not(:last-child) > th,
thead:not(:last-child),
tbody:not(:last-child),
tfoot:not(:last-child) {
  border-bottom: 1px solid black;
}

th {
  text-align: center;
  padding: 8px;
  width: 33%; 
}
td {
  padding: 10px;
}

.arrow {
  width: 24px;
  height: 24px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #000000 solid;
  border-bottom: 2px #000000 solid;
}

.img-fluid {
  max-width: 50%;
  height: auto;
}

.image-container {
  max-width: 80%;
  max-height: 65%;
  overflow: hidden;
}

.image {
  width: auto;
  height: auto;
  background-size: cover;
}

@media (max-width: 768px) {
  .front-17px {
    font-size: 17px;
  }
  .front-20px {
    font-size: 20px;
  }
  .front-15px {
    font-size: 15px;
  }
  .front-13px {
    font-size: 13px;
  }
}
