$color_1: black;
$color_2: #538E6E;
$color_3: white;
$color_5: #FFFDF5;
$color_6: #8BC9A7;


.box {
	background: $color_2;
	max-width: 100%;
	height: 52px;
	padding: 13px 25px;
	border-width: 50px;
	border-radius: 20px;
	margin: 0 auto;
}

.text-center {
    text-align: center;
    justify-content: center;
}

.blackbold-text {
    color: $color_1;
    font-weight: 1000; 
}

.greenbold-text {
    color: $color_2;
    font-weight: 1000;
}

.whitebold-text {
    color: $color_3;
    font-weight: bold;
}


hr.style1 {
	opacity: 100%;
	height: 4px;
	width: 85%;
	margin: auto;
	border-radius: 3.125rem;
	border: 0;
	size: 50px;
	background-color: $color_6;
}

.pull-left {
    float:left;
}

.pull-right {
    float:right;
}

.text-center {
    text-align:center;
}

.background-cream{
    background-color: $color_5;
}
