$color_1: black;
$color_2: #538e6e;
$color_3: white;
$color_4: #4f4f4f;
$color_5: #fffdf5;
$color_6: #1c1d23;
$color_7: #8bc9a7;
$cream-primary-color: var(--cream-bg-color);

:root {
  --cream-bg-color: #fffdf5;
}

.picture-product-main {
  background-color: rgba(255, 255, 255, 0.8);
  background-size: cover;
  background-position: center;
  height: 100%;
  max-width: 100%;
  display: grid;
  align-content: center;
}

.blackbold-text {
  color: $color_1;
  font-weight: bolder;
}

.greenbold-text {
  color: $color_2;
  font-weight: bolder;
}

.black-text {
  color: $color_1;
}

.green-text {
  color: $color_2;
}

.right {
  text-align: right;
}

.bg-color-productmain {
  background-color: $cream-primary-color;
}

.full-height-starw-1 {
  height: 100dvh;
  // display: flex;
  align-items: center;
  justify-content: center;
}

.full-height-starw-2 {
  height: 70dvh;
  // display: flex;
  align-items: center;
  justify-content: center;
}

.button-details {
  background-color: $color_2;
  padding: 6px 40px;
  float: right;
  border-radius: 30px;
}

.button-details:hover {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 2px #000000;
  transition: 0.5s;
}

.button-details:active {
  background-color: $color_7;
}

.bioplastic-down {
  display: none;
}

.arrow {
  width: 24px;
  height: 24px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #000000 solid;
  border-bottom: 2px #000000 solid;
}

.mt-product-main-13 {
  padding-top: 13rem;
}

@media only screen and (max-width: 480px) {
  .bioplastic-left {
    display: none;
  }

  .bioplastic-down {
    display: block;
  }

  .front-13px {
    font-size: 13px;
  }

  .front-12px {
    font-size: 12px;
  }

  .front-30px {
    font-size: 30px;
  }

  .front-18px {
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .bioplastic-left {
    display: none;
  }

  .bioplastic-down {
    display: block;
  }
}
