$white-color: white;
$green-color: var(--green-primary-color);
$background-color_1: var(--cream-bg-color);
$background-color_2: var(--green-primary-color);
$background-color_3: var(--green-line-color);
$background-color_4: var(--green-bg-color);
$background-color_5: var(--green-linear-gradient-color);
$background-table-color: var(--gray-bg-table-color);

:root {
  --green-primary-color: #538e6e;
  --green-line-color: #8bc9a7;
  --cream-bg-color: #fffdf5;
  --green-bg-color: rgba(83, 142, 110, 0.4);
  --gray-bg-table-color: #dde7da;
  --green-linear-gradient-color: linear-gradient(180deg, #fffdf5 0%, rgba(83, 142, 110, 0.4) 100%);
}

.bg-container {
  background-color: $background-color_1;
  padding: 0;
}

.bg-head {
  background-color: $background-color_2;
  border-radius: 20px;
}

.bg-cream-green-color {
  background: $background-color_5;
}

.title-text {
  font-size: calc(16px + 0.5vw);
  margin: 1vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: $white-color;
}

.head-text {
  // font-size: 2.25rem;
  font-size: calc(1.5rem + 0.5vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.head-text-2 {
  font-size: calc(1.5rem + 0.5vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.detail-text {
  font-size: calc(16px + 0.42vw);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.services-text {
  font-size: calc(1rem + 0.5vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-head-box {
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 50px;
}

.bg-image {
  background-color: rgba(255, 255, 255, 0.6);
  background-size: cover;
  background-position: center;
  width: 100%;
}

.bg-image-hempcar {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.hempcar-box {
  padding-left: 20%;
  padding-right: 20%;
}

.bg-green-color {
  background-color: $background-color_4;
}

.opacity-container {
  opacity: 1;
}

.bg-image-research {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  background-size: cover;
  background-position: center;
  height: 40vh;
  border-radius: 20px;
  margin-right: 10px;
}

.bg-image-consult {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  background-size: cover;
  background-position: center;
  height: 40vh;
  border-radius: 20px;
  margin-left: 10px;
}

.hemp-car-text {
  color: $green-color;
}

.hempcar-detail-text {
  font-size: calc(16px + 0.3vw);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.line-section-1 {
  width: 50%;
  margin: auto;
  border: 0;
  border-radius: 3.125rem;
  background-color: $background-color_3;
  opacity: 1;
}

.line-section-2 {
  width: 50%;
  margin: auto;
  border: 0;
  border-radius: 3.125rem;
  background-color: $green-color;
  opacity: 1;
}

.hempfiber {
  margin-left: 10%;
}

.hempcar-head-text {
  color: $green-color;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hempcar-photo {
  width: 100%;
  border-radius: 20px;
}

.m-spec {
  margin-left: 10%;
  margin-right: 10%;
}

.Spec-main-text {
  font-size: calc(1.5rem + 0.5vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Spec-detail-text {
  font-size: calc(16px + 0.42vw);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 5%;
}

.m-prop {
  margin-left: 5%;
  margin-right: 5%;
}

.Prop-main-text {
  font-size: calc(1.5rem + 0.5vw);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 5%;
}

.Prop-detail-text {
  font-size: calc(16px + 0.42vw);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 5%;
}

.Prop-Method-detail-text-1 {
  font-size: calc(16px + 0.42vw);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 10%;
}

.Prop-Method-detail-text-2 {
  font-size: calc(16px + 0.42vw);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 20%;
}

table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 1px solid black;
  background-color: $background-table-color;
  width: 80%;
  margin: auto;
}

th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid black;
}

/* Apply a border to the bottom of all but the last row */
thead > tr:not(:last-child) > th,
thead > tr:not(:last-child) > td,
tbody > tr:not(:last-child) > th,
tbody > tr:not(:last-child) > td,
tfoot > tr:not(:last-child) > th,
tfoot > tr:not(:last-child) > td,
tr:not(:last-child) > td,
tr:not(:last-child) > th,
thead:not(:last-child),
tbody:not(:last-child),
tfoot:not(:last-child) {
  border-bottom: 1px solid black;
}

th {
  text-align: center;
  padding: 8px;
}
td {
  padding: 10px;
}

.bg-image-farm {
  background-color: rgba(255, 255, 255, 0.8);
  background-size: cover;
  background-position: center;
  width: 100%;
}

.custom-width {
  width: 17.5%;
}

.custom-width-2 {
  width: 15%;
}

.m-solar-image {
  margin-bottom: 4%;
}

.solar-image-1 {
  width: 100%;
  padding-bottom: 5px;
  border-radius: 20px;
}

.solar-image-2 {
  width: 100%;
  padding-top: 5px;
  border-radius: 20px;
}

.solar-image-3 {
  width: 100%;
  border-radius: 20px;
}

.m-solar-main-text {
  margin-left: 5%;
  margin-right: 5%;
}

.p-table-solar {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.graphene-photo {
  width: 100%;
}

.graphene-detail-text {
  font-size: calc(16px + 0.3vw);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.graphene-text {
  margin-top: auto;
  margin-bottom: auto;
}

.hempfiber_image {
  object-fit: cover;
  width: calc(100px + 5vw);
  height: calc(100px + 5vw);
  border-radius: 20px;
}

.hempcar-video {
  border-radius: 20px;
}

.fullheight-service {
  height: 100dvh;
  padding-top: 10rem;
}

.full-height-2 {
  height: 100vh;
}

.pt-13 {
  padding-top: 13rem;
}

.pt-8 {
  padding-top: 8rem;
}

.arrow {
  width: 24px;
  height: 24px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #000000 solid;
  border-bottom: 2px #000000 solid;
}

// Media Query for Mobile Devices /
@media  (min-width: 320px) and (max-width: 480px) {
  .bg-head {
    width: 40%;
    border-radius: 10px;
  }

  .title-text {
    font-size: 18px;
    font-weight: 500;
  }

  .head-text {
    font-size: 18px;
  }

  .detail-text {
    font-size: 14px;
  }

  .text-head-box {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .bg-image-research {
    height: 30vh;
  }

  .bg-image-consult {
    height: 30vh;
  }

  .full-height-2 {
    height: 60vh;
  }

  .hempcar-box {
    padding-left: 5%;
    padding-right: 5%;
  }

  .arrow {
    margin-top: 0 !important;
  }

  .head-text-2 {
    font-size: 18px;
  }

  .Spec-main-text {
    font-size: 20px;
  }

  .custom-width {
    width: 50%;
  }

  .custom-width-2 {
    width: 44%;
  }

  .Prop-main-text {
    font-size: 18px;
  }

  .graphene-photo {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .bg-head{
    width: 50%;
  }
  .title-text {
    font-size: 16px;
    font-weight: 500;
  }
}

// / Media Query for low resolution  Tablets, Ipads /
@media (min-width: 481px) and (max-width: 767px) {
  .title-text {
    font-size: 16px;
    font-weight: 500;
  }
  .full-height-2 {
    height: 50vh;
  }
}

// / Media Query for Tablets Ipads portrait mode /
@media (min-width: 768px) and (max-width: 1020px) {
  // body {
  //     background-color: blue;
  // }
  .hempcar-box {
    padding-left: 10%;
    padding-right: 10%;
  }

  .full-height-2 {
    height: 65vh;
  }

  .custom-width {
    width: 50%;
  }

  .custom-width-2 {
    width: 44%;
  }

  .graphene-photo {
    width: 50%;
  }
}

// / Media Query for Laptops and Desktops /
@media (min-width: 1021px) and (max-width: 1280px) {
  .hempcar-box {
    padding-left: 10%;
    padding-right: 10%;
  }

  .fullheight-service{
    height: 70vh;
  }

  .full-height-2 {
    height: 74vh;
  }

  .custom-width {
    width: 50%;
  }

  .custom-width-2 {
    width: 44%;
  }
}

@media (max-width: 320px) {
  .front-16px-320-service {
      font-size: 16px;
  }

  .front-14px-320-service {
      font-size: 14px;
  }

  .front-9px-320-service {
      font-size: 9px;
  }

  .front-25px-320-service {
      font-size: 25px;
      margin-top: 40%;
  }

  .top-margin-320-service {
      margin-top: 70px;
  }
}